body {
  width: 850px; /*コンテンツの幅を指定*/
  margin: 0 auto; /*中央に表示*/
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic";
}

img:hover {
  opacity: 0.6; /*画像にカーソルを合わせると半透明*/
}

/*header要素*/
header {
  padding: 10px 25px;
  background-color: rgba(200, 200, 200, 0.3);
}

header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
}

header h1 span {
  color: red; /*タイトルの色*/
}

ul.menubar {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

ul.menubar a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: dimgray;
  font-size: 15px;
  margin: 0 10px;
}

ul.menubar img {
  width: 20px;
  height: 20px;
}

/*main要素*/
main {
  padding: 10px 25px;
}
.section-title {
  border-bottom: 2px solid #dee7ec;
}
.contents-item {
  color: black;
  font-size: 12px;
  padding: 0 3px;
}

/* 目的から探す */
.mokuteki {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 12px;
}
.mokuteki img {
  /* 画像の角を丸くしてる */
  border-radius: 20px;
}

.yugu {
  flex-direction: column;
  margin-right: 3px;
}
.hiroba {
  flex-direction: column;
  margin-right: 3px;
}
.parking {
  flex-direction: column;
  margin-right: 3px;
}
.aqua {
  flex-direction: column;
  margin-right: 3px;
}
.run {
  flex-direction: column;
  margin-right: 3px;
}
.tennis {
  flex-direction: column;
  margin-right: 3px;
}

/* 県外の公園 */
.kengai {
  display: flex;
}

.kengai img {
  width: 125px;
  height: 125px;
}

/*footer要素*/
footer {
  padding: 10px 25px;
  background-color: rgba(200, 200, 200, 0.3); /*背景を半透明白に定義*/
}

/*マルチディスプレイ対応*/
@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }

  ul.menubar {
    margin: 10;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  .mokuteki {
    flex-wrap: wrap;
  }
  .kengai {
    flex-wrap: wrap;
  }
}
